@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.react-datepicker{
  @apply !ml-[300px] py-1 px-1 !flex
}
.react-datepicker button {
  @apply rounded-full text-white bg-violet-500 h-5 font-extrabold w-5 flex items-center justify-center text-center;
}
.react-datepicker__day-names {
  @apply flex justify-between px-1.5
}
.react-datepicker__header h2 {
   @apply text-blue-900 font-bold
}
.react-datepicker__day-names div{
  @apply  text-blue-900 opacity-60 font-bold
}

.react-datepicker__day--selected {
  @apply !inline-flex !items-center !justify-center  !bg-violet-500 !text-yellow-300 !rounded-full   !font-bold !p-0;
}
.react-datepicker__day{
  @apply hover:!bg-violet-200 !h-9 !w-9 !rounded-full !inline-flex !justify-center !items-center;
}